@page
@model Razorpages.Pages.OrdersModel
@{
}

<h3>Orders</h3>
<hr />

<table class="table">
    <thead>
      <tr>
        <th>
            ID
        </th>
        <th>
            PizzaName
        </th>
        <th>
            Pizzaprice
         </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var order in Model.pizzaOrders)
        {
             <tr>
            <td>
                @order.Id
            </td>
            <td>
                @order.PizzaName
            </td>
            <td>
                @order.BasePrice
            </td>
        </tr>
        }
       
    </tbody>
</table>